<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <section>
          <h1>{{title}}</h1>
          <nav>
              <a href="/schedules/all">Schedule</a>
              <a href="/standings">Standings</a>
          </nav>
      </section>
    {{{body}}}
  </body>
</html>
