<main>
    <div class="">
        {{#if error}} <span>{{error}}</span>{{/if}}
        <form class="form-inline" action="/user/search/" method="post">
            <div class="form-group" style="margin: 24px auto;">
                <input type="text" name="id" style="width:300px;"class="form-control" placeholder="serach for events by number">
                <input type="submit" class="btn btn-primary" value="Search">
            </div>

        </form>
    </div>
    <section class="left-content">
        <div class="schedule-item">
            <p>schedule-item</p>
        </div>
        <div class="schedule-item">
            <p>schedule-item</p>
        </div>
        <div class="schedule-item">
            <p>schedule-item</p>
        </div>
        <div class="schedule-item">
            <p>schedule-item</p>
        </div>
    </section>
    <section class="right-content">
        <div class="schedule-item">
            <p>schedule-item</p>
        </div>
        <div class="schedule-item">
            <p>schedule-item</p>
        </div>
        <div class="schedule-item">
            <p>schedule-item</p>
        </div>
        <div class="schedule-item">
            <p>schedule-item</p>
        </div>
    </section>
</main>
