<main>
    <div class="">
        {{#if error}} <span>{{error}}</span>{{/if}}
        <form class="" action="/schedules/search" method="post">
            <div class="" style="margin: 24px auto;">
                <input type="text" name="id" style="width:300px;"class="" placeholder="serach for games by number">
                <input type="submit" class="" value="Search">
            </div>

        </form>
    </div>
    <section class="left-content">
        <div class="schedule-item">
            <p>schedule-item</p>
        </div>
        <div class="schedule-item">
            <p>schedule-item</p>
        </div>
        <div class="schedule-item">
            <p>schedule-item</p>
        </div>
        <div class="schedule-item">
            <p>schedule-item</p>
        </div>
    </section>
    <section class="right-content">
        <div class="schedule-item">
            <p>schedule-item</p>
        </div>
        <div class="schedule-item">
            <p>schedule-item</p>
        </div>
        <div class="schedule-item">
            <p>schedule-item</p>
        </div>
        <div class="schedule-item">
            <p>schedule-item</p>
        </div>
    </section>
</main>
