<main>
    <section class="left-content">
        div class="schedule-item">
            <p>schedule-item</p>
        </div>
    </section>
    <section class="right-content">
        <div class="schedule-item">
            <p>schedule-item</p>
        </div>
    </section>
</main>
