body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* main content styles*/
main{
    height: 600px;
}
main,
nav{
    width: 60%;
    background-color: #ccc;
    min-width: 400px;
    margin: 0 auto;
}
nav{
    display: flex;
    padding-top:8px;
    height: 50px;
}
nav > a{
    height: inherit;
    flex:1;
    text-align: center;
    font-size: 2em;

}

main > section{
    width: 50%;
    float: left;
}

.team-item,
.schedule-item{
    width: 95%;
    height: 100px;
    background-color: #999;
}
/*leaguestandings page*/

#leaguestandings{
    width: 60%;
    height: 800px;
    background-color: #ccc;
    min-width: 400px;
    margin: 0 auto;

}
.conference{
    background-color: #060;
    font-size: 18px;
    height: 400px;
    width: 96%;
    padding:8px;
    margin:0 auto;
}
.stats{
    display: flex;
}
.stats-item{
    flex:1;
}



